.body{
background-color: aquamarine;
font-family:Arial;
}
.title{
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(136, 255, 255);
}

.Subheader1{
    color:rgb(0, 0, 0);
    text-align: center;

    size: 24px;
}
.Subheader2{
    color:rgb(0, 0, 0);
    text-align: center;
 
    size: 12px;
}



.iframe {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    background-color: #777;
}

